.note_item_container {
  padding: 8px;
  background: var(--card-bg-color);
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.note_item_container textarea {
  resize: none;
  height: 150px;
  color: #fff;
  padding: 8px;
  background: var(--card-hover);
  border: 1px solid var(--border-color);
  border-radius: 8px;
}
.note_item_container textarea::placeholder {
  color: #ccc;
}
.note_item_container textarea:disabled {
  background: var(--card-bg-color);
  border: none;
}
.note_item_container button {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  background: var(--btn-bg-color);
  border: none;
  outline: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}
.note_item_container button:disabled {
  cursor: not-allowed;
  color: #999;
}
.note_item_container > div {
  display: flex;
  gap: 10px;
}
.note_item_container > div button {
  width: 100%;
}
.note_item_container .delete_btn {
  background: transparent;
  border: 1px solid #d44;
  color: #d44;
}
.note_item_container .cancel_btn {
  background: transparent;
  border: 2px solid var(--btn-bg-color);
  color: #fff;
}
