.app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app .app_container {
  background: var(--list-bg-color);
  padding: 20px;
  width: 100%;
  max-width: 600px;
  height: 100vh;
  overflow-y: auto;
  border: 1px solid var(--border-color);
  border-top-width: 0;
  border-bottom-width: 0;
}
.app_container .search_container {
  width: 100%;
  margin-bottom: 20px;
}
.search_container input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 8px;
  height: 40px;
  padding: 8px;
  background: var(--card-bg-color);
  border: 1px solid var(--border-color);
  color: #fff;
}
.search_container input::placeholder {
  color: #ccc;
}
